<header>
    <nav class="navbar bg-dark border-bottom border-body navbar-expand-lg fixed-top" data-bs-theme="dark">
        <section class="container-fluid" id="navbarColor01">
            <article class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link link-warning link-opacity-50-hover" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-warning link-opacity-50-hover" href="/productos">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-warning link-opacity-50-hover" href="/clientes">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-warning link-opacity-50-hover" href="/pedidos">Pedidos</a>
                    </li>
                </ul>
            </article>
        </section>
    </nav>
</header>