<header>
    <nav class="navbar navbar-expand-lg bg-dark">
        <section class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link link-light" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Pedidos</a>
                </li>
            </ul>
        </section>
    </nav>
</header>